#chrome_websiteIP {
	position: fixed;
	bottom: 0;
	background-color: #00AEEF;
	padding: 5px;
	border: 2px solid #F7931E;
	border-bottom: 0;
	font-size: 13px;
	color: #ffffff;
	font-weight: 500;
	font-family: 'Arial', Helvetica, sans-serif;
	cursor: default;
	z-index: 9999;
	line-height: 1;
	outline: 0;
	vertical-align: baseline;
	margin: 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
}

.chrome_websiteIP_right {
	right: 1%;
}

.chrome_websiteIP_left {
	left: 1%;
}

/* hide if in print view */
@media print {
	#chrome_websiteIP {display:none;}
}